<style type="text/css">
  #error_explanation{
    color: red;
  }
</style>
<div class="log-form">
  <%= simple_form_for @category do |f| %>
      <% if @category.errors.any? %>
        <div id="error_explanation">
          <div class="alert alert-error">
             The form contains <%= pluralize(@category.errors.count, "error") %>.
          </div>
          <ul>
            <% @category.errors.full_messages.each do |msg| %>
              <li>* <%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
        <%= f.input :name, label: 'Category name' %>
        <%= f.submit "Create Category",class:"btn btn-default"%>
        <%= link_to "All Products", products_path, class:"btn btn-default"%>
        <%= link_to "All Categories", categories_path, class:"btn btn-default"%>

  <% end %>
</div>
